{{#with detail}}
<section class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/product/list">Danh mục sản phẩm</a></li>
                    <li class="active">{{name}}</li>
                </ol>
            </div>
            <div class="col-md-6">
                <ol class="product-pagination text-right">
                    <li><a href="#"><i class="tf-ion-ios-arrow-left"></i> Tiếp theo </a></li>
                    <li><a href="#">Quay lại <i class="tf-ion-ios-arrow-right"></i></a></li>
                </ol>
            </div>
        </div>


        <div class="row mt-20">
            {{!-- image --}}
            <div class="col-md-5">
                <div class="single-product-slider">
                    <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                        <div class='carousel-outer'>
                            <!-- me art lab slider -->
                            <div class='carousel-inner '>

                                <div class='item active'>
                                    <img src='{{active_img}}' alt='' data-zoom-image="{{active_img}}" />
                                </div>

                                {{#each img}}
                                <div class='item'>
                                    <img src='{{this}}' alt='' data-zoom-image="{{this}}" />
                                </div>
                                {{/each}}
                            </div>

                            <!-- sag sol -->
                            <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                                <i class="tf-ion-ios-arrow-left"></i>
                            </a>
                            <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                                <i class="tf-ion-ios-arrow-right"></i>
                            </a>
                        </div>

                        <!-- thumb -->
                        <ol class='carousel-indicators mCustomScrollbar meartlab'>
                            <li data-target='#carousel-custom' data-slide-to='0' class='active'>
                                <img src='{{active_img}}' alt='' />
                            </li>
                            {{#each img}}
                            <li data-target='#carousel-custom' data-slide-to='1'>
                                <img src='{{this}}' alt='' />
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
            </div>

            {{!-- detail --}}
            <div class="col-md-7">
                <div class="single-product-details">
                    <h2>{{name}}</h2>
                    <p class="product-price mb-20">{{price}} đồng</p>

                    {{{description}}}

                    <div class="product-view">
                        <span>Lượt xem:</span> {{view}}
                    </div>

                    <div class="product-stock">
                        <span>Có sẵn:</span> {{quantity}}
                    </div>

                    {{#if color}}
                    <div class="color-swatches">
                        <span>Màu:</span>
                        <ul>
                            {{!-- <li>
                                <a href="#" class="swatch-violet"></a>
                            </li>
                            <li>
                                <a href="#" class="swatch-black"></a>
                            </li>
                            <li>
                                <a href="#" class="swatch-cream"></a>
                            </li> --}}
                            <select class="form-control">
                                {{#each color}}
                                <option>{{this}}</option>
                                {{/each}}
                            </select>

                        </ul>
                    </div>
                    {{/if}}

                    {{#if size}}
                    <div class="product-size">
                        <span>Kích cỡ:</span>
                        <select class="form-control">
                            {{#each size}}
                            <option>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{/if}}

                    <div class="product-quantity">
                        <span>Số lượng:</span>
                        <div class="product-quantity-slider">
                            <input id="product-quantity" type="text" value="0" name="product-quantity">
                        </div>
                    </div>

                    {{#if tag}}
                    <!-- Widget tag -->
                    <div class="widget widget-tag product-category">
                        <span>Danh mục:</span>
                        <ul class="widget-tag-list">
                            {{#each tag}}
                            <li><a href="#">{{this}}</a>
                            </li>
                            {{/each}}
                        </ul>
                    </div> <!-- End tag  -->
                    {{/if}}

                    <a href="/checkout/cart" class="btn btn-main mt-20">Thêm vào giỏ</a>
                </div>
            </div>

        </div>

        {{!-- description and review --}}
        <div class="row">
            <div class="col-xs-12">
                <div class="tabCommon mt-20">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Chi tiết</a></li>
                        <li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">Đánh giá
                                {{#if review}}({{review.length}}){{/if}}</a></li>
                    </ul>
                    <div class="tab-content patternbg">
                        <div id="details" class="tab-pane fade active in">
                            <h4>Mô tả sản phẩm</h4>
                            {{{description}}}
                        </div>
                        <div id="reviews" class="tab-pane fade">
                            <div class="post-comments">
                                <ul id="comments" class="media-list comments-list m-bot-50 clearlist"></ul>
                            </div>
                            <div class="post-comments-form">
                                <h3 class="post-sub-heading">Đánh giá</h3>
                                <form method="post" action="/comment" id="form" role="form">

                                    <div class="row">
                                        <input type="hidden" name="productId" value={{{id}}}>
                                        {{> alert alert=../alert}}
                                        {{#unless ../user}}
                                        <div class="col-md-6 form-group">
                                            <!-- Name -->
                                            <input type="text" name="name" id="name" class=" form-control"
                                                placeholder="Tên (*)" maxlength="100" required="">
                                        </div>
                                        {{/unless}}

                                        <!-- Comment -->
                                        <div class="form-group col-md-12">
                                            <textarea name="reviewBody" id="form" class="form-control" rows="6"
                                                placeholder="Hãy nêu cảm nghĩ của mình về sản phẩm nhé ^^"
                                                maxlength="400"></textarea>
                                        </div>

                                        <!-- Send Button -->
                                        <div class="form-group col-md-12">
                                            <button type="submit" class="btn btn-small btn-main">
                                                Đánh giá sản phẩm
                                            </button>
                                        </div>


                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{{/with}}

{{#if products}}
<section class="products related-products section">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>Sản phẩm thường được mua chung</h2>
            </div>
        </div>
        {{> productList}}
    </div>
</section>
{{/if}}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const api = window.location.origin + `/comment/api/{{detail.id}}`;
        const totalRecords = parseInt('{{detail.review.length}}') || 0;
        const dataDiv = $('#comments');

        if (totalRecords === 0) {
            dataDiv.append($(`<h6>Chưa ai đánh giá sản phẩm này. Hãy là người đầu tiên!</h6>`));
            return;
        }

        const recordsPerPage = 5;
        const currentPage = 1;
        const totalPages = Math.ceil(totalRecords / recordsPerPage);

        const loadData = async (params) => {
            const url = new URL(api);
            url.search = new URLSearchParams(params).toString();

            let data = await fetch(url);
            data = await data.json();
            //console.log(data);
            const dataTemplate = (comment) => {
                let { avatar, author, name, createdAt, body } = comment;

                return `
                    <li class="media">
                        <a class="pull-left" >
                            <img class="media-object comment-avatar" src="${avatar ? avatar : ''}" alt="" width="50"
                            height="50" />
                        </a>
                        <div class="media-body">
                            <div class="comment-info">
                                <h4 class="comment-author">
                                    <a ${author ? 'href="#"' : 'class="guest-comment"'}>${name} ${author ? '' : '(khách)'}</a>
                                </h4>
                                <time>${createdAt}</time>
                            </div>
                            <p>
                                ${body}
                            </p>
                            <a class="comment-button" href="#"><i class="tf-ion-chatbubbles"></i>Trả lời</a>
                        </div>
                        <hr/>
            </li>
            `;
            }
            dataDiv.empty();
            data.forEach(record => {
                const comment = $(dataTemplate(record));
                dataDiv.append(comment);
            });
        }

        //const hidePrev = () => { $('.pagination .pagination-prev').hide(); }
        //const showPrev = () => { $('.pagination .pagination-prev').show(); }

        //const hideNext() => { $('.pagination .pagination-next').hide(); }
        //const showNext() => { $('.pagination .pagination-next').show(); }
        const range = (current, total, next = 1) => {
            let last = total,
                delta = next,
                left = current - delta,
                right = current + delta + 1,
                range = [],
                rangeWithDots = [],
                l;

            for (let i = 1; i <= last; i++) {
                if (i == 1 || i == last || i >= left && i < right) {
                    range.push(i);
                }
            }
            const pageTemplate = (text, page) => ({
                text, page, isActive: (page === current && text != 'Prev' && text != 'Next') ? 'active' : ''
            })
            for (let i of range) {
                if (l) {
                    if (i - l === 2) {
                        rangeWithDots.push(pageTemplate(l + 1, l + 1));
                    } else if (i - l !== 1) {
                        rangeWithDots.push(pageTemplate('...', null));
                    }
                }
                rangeWithDots.push(pageTemplate(i, i));
                l = i;
            }
            if (current > 1)
                rangeWithDots.unshift(pageTemplate('Prev', current - 1));
            if (current != total)
                rangeWithDots.push(pageTemplate('Next', current + 1));
            return rangeWithDots;
        }

        const addPagination = (current, total) => {
            const htmlPagination = $(`<ul class="pagination post-pagination"></ul>`);
            const pages = range(current, total, 1);

            pages.forEach(({text, page, isActive}) => {
                const element = $(`<li class="pagination-page ${isActive}" data-page=${page}><a href="#">${text}</a></li>`);
                htmlPagination.append(element);
            })
            const paginationTag = dataDiv.parent().find(".pagination");
            const paginationContainer = $(`<div class='text-center'></div>`).append(htmlPagination);

            if (paginationTag.length > 0) {
                paginationTag.replaceWith(paginationContainer)
            }
            else {
                $(dataDiv).before(paginationContainer);
                $(dataDiv).after($(paginationContainer).clone());
            }
            $('.pagination.post-pagination').on('click', 'li[data-page]', function (e) {
                e.preventDefault();
                let page = parseInt($(this).attr('data-page'));
                loadPage(page);
            });
        }

        const loadPage = (currentPage) => {
            const params = {
                page: currentPage,
                limit: recordsPerPage
            }
            addPagination(currentPage, totalPages);
            loadData(params);
        }

        if (totalPages > 1) {
            addPagination(currentPage, totalPages);
        }
        loadPage(currentPage);
    });
</script>