{{#with detail}}
<section class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/product/list">Danh mục sản phẩm</a></li>
                    <li class="active">{{name}}</li>
                </ol>
            </div>
            <div class="col-md-6">
                <ol class="product-pagination text-right">
                    <li><a href="#"><i class="tf-ion-ios-arrow-left"></i> Tiếp theo </a></li>
                    <li><a href="#">Quay lại <i class="tf-ion-ios-arrow-right"></i></a></li>
                </ol>
            </div>
        </div>


        <div class="row mt-20">
            {{!-- image --}}
            <div class="col-md-5">
                <div class="single-product-slider">
                    <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                        <div class='carousel-outer'>
                            <!-- me art lab slider -->
                            <div class='carousel-inner '>

                                <div class='item active'>
                                    <img src='{{active_img}}' alt='' data-zoom-image="{{active_img}}" />
                                </div>

                                {{#each img}}
                                <div class='item'>
                                    <img src='{{this}}' alt='' data-zoom-image="{{this}}" />
                                </div>
                                {{/each}}
                            </div>

                            <!-- sag sol -->
                            <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                                <i class="tf-ion-ios-arrow-left"></i>
                            </a>
                            <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                                <i class="tf-ion-ios-arrow-right"></i>
                            </a>
                        </div>

                        <!-- thumb -->
                        <ol class='carousel-indicators mCustomScrollbar meartlab'>
                            <li data-target='#carousel-custom' data-slide-to='0' class='active'>
                                <img src='{{active_img}}' alt='' />
                            </li>
                            {{#each img}}
                            <li data-target='#carousel-custom' data-slide-to='1'>
                                <img src='{{this}}' alt='' />
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
            </div>

            {{!-- detail --}}
            <div class="col-md-7">
                <div class="single-product-details">
                    <h2>{{name}}</h2>
                    <p class="product-price mb-20">{{price}} đồng</p>

                    {{{description}}}

                    <div class="product-view">
                        <span>Lượt xem:</span> {{view}}
                    </div>

                    <div class="product-stock">
                        <span>Có sẵn:</span> {{quantity}}
                    </div>

                    {{#if color}}
                    <div class="color-swatches">
                        <span>Màu:</span>
                        <ul>
                            {{!-- <li>
                                <a href="#" class="swatch-violet"></a>
                            </li>
                            <li>
                                <a href="#" class="swatch-black"></a>
                            </li>
                            <li>
                                <a href="#" class="swatch-cream"></a>
                            </li> --}}
                            <select class="form-control">
                                {{#each color}}
                                <option>{{this}}</option>
                                {{/each}}
                            </select>

                        </ul>
                    </div>
                    {{/if}}

                    {{#if size}}
                    <div class="product-size">
                        <span>Kích cỡ:</span>
                        <select class="form-control">
                            {{#each size}}
                            <option>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{/if}}

                    <div class="product-quantity">
                        <span>Số lượng:</span>
                        <div class="product-quantity-slider">
                            <input id="product-quantity" type="text" value="0" name="product-quantity">
                        </div>
                    </div>

                    {{#if categories}}
                    <div class="product-category">
                        <span>Danh mục:</span>
                        <ul>
                            {{#each categories}}
                            <li><a href="#">{{this}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}
                    <a href="/checkout/cart" class="btn btn-main mt-20">Thêm vào giỏ</a>
                </div>
            </div>

        </div>

        {{!-- description and review --}}
        <div class="row">
            <div class="col-xs-12">
                <div class="tabCommon mt-20">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Chi tiết</a></li>
                        <li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">Đánh giá (3)</a></li>
                    </ul>
                    <div class="tab-content patternbg">
                        <div id="details" class="tab-pane fade active in">
                            <h4>Mô tả sản phẩm</h4>
                            {{{description}}}
                        </div>
                        <div id="reviews" class="tab-pane fade">
                            <div class="post-comments">
                                <ul class="media-list comments-list m-bot-50 clearlist">
                                    <!-- Comment Item start-->
                                    <li class="media">

                                        <a class="pull-left" href="#">
                                            <img class="media-object comment-avatar" src="/static/images/avatar-1.jpg"
                                                alt="" width="50" height="50" />
                                        </a>

                                        <div class="media-body">
                                            <div class="comment-info">
                                                <h4 class="comment-author">
                                                    <a href="#">Jonathon Andrew</a>

                                                </h4>
                                                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                                <a class="comment-button" href="#"><i
                                                        class="tf-ion-chatbubbles"></i>Reply</a>
                                            </div>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at
                                                magna ut ante eleifend eleifend.Lorem ipsum dolor sit amet, consectetur
                                                adipisicing elit. Quod laborum minima, reprehenderit laboriosam officiis
                                                praesentium? Impedit minus provident assumenda quae.
                                            </p>
                                        </div>

                                    </li>
                                    <!-- End Comment Item -->

                                    <!-- Comment Item start-->
                                    <li class="media">

                                        <a class="pull-left" href="#">
                                            <img class="media-object comment-avatar"
                                                src="/static/images/blog/avatar-4.jpg" alt="" width="50" height="50" />
                                        </a>

                                        <div class="media-body">

                                            <div class="comment-info">
                                                <div class="comment-author">
                                                    <a href="#">Jonathon Andrew</a>
                                                </div>
                                                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                                <a class="comment-button" href="#"><i
                                                        class="tf-ion-chatbubbles"></i>Reply</a>
                                            </div>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at
                                                magna ut ante eleifend eleifend. Lorem ipsum dolor sit amet, consectetur
                                                adipisicing elit. Magni natus, nostrum iste non delectus atque ab a
                                                accusantium optio, dolor!
                                            </p>

                                        </div>

                                    </li>
                                    <!-- End Comment Item -->

                                    <!-- Comment Item start-->
                                    <li class="media">

                                        <a class="pull-left" href="#">
                                            <img class="media-object comment-avatar"
                                                src="/static/images/blog/avatar-1.jpg" alt="" width="50" height="50">
                                        </a>

                                        <div class="media-body">

                                            <div class="comment-info">
                                                <div class="comment-author">
                                                    <a href="#">Jonathon Andrew</a>
                                                </div>
                                                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                                <a class="comment-button" href="#"><i
                                                        class="tf-ion-chatbubbles"></i>Reply</a>
                                            </div>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at
                                                magna ut ante eleifend eleifend.
                                            </p>

                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{{/with}}

{{!-- <section class="products related-products section">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>Related Products</h2>
            </div>
        </div>
        {{> product_list products=relate}}
    </div>
</section> --}}


{{> modal}}