{{#if this}}
<section class="products section">
    <div class="container">
        <div class="row">
            <form id="queryForm" method="get">
                <div class="col-md-3">
                    {{{createSortOption sortOption}}}
                    {{{createCheckBoxOptions filterOptions}}}
                </div>
                <div class="col-md-9">
                    <div class="text-right">
                        {{{createPagination pageOptions}}}
                    </div>
                    {{> productList}}
                    <div class="text-right">
                        {{{createPagination pageOptions}}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{{else}}
<h2>Không có sản phẩm nào</h2>
{{/if}}