{{#if this}}
<section class="products section">
    <div class="container">
        <div class="row">
            <form id="queryForm" method="get">
                <div class="col-md-3">
                    {{{createCheckBoxOptions filterOptions}}}
                </div>
                <div class="col-md-9">
                    {{!-- name  --}}
                    <div class="row widget">
                        <h4 class="col-md-3 widget-title">Sắp xếp</h4>
                    </div>

                    {{!-- sort, search, pagination --}}
                    <div class="row">
                        <div class="col-md-3">
                            {{{createSortOption sortOption}}}
                        </div>
                        <div class="col-md-3">
                            <input type="search" name="name" class="form-control" placeholder="Nhập tên sản phẩm" value="{{search}}">
                        </div>
                        <div class="col-md-6 text-right">
                            {{{createPagination pageOptions}}}
                        </div>
                    </div>

                    {{!-- products --}}
                    {{> productList}}

                    {{!-- pagination --}}
                    <div class="row">
                        <div class="col-md-6 text-right">
                            {{{createPagination pageOptions}}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{{else}}
<h2>Không có sản phẩm nào</h2>
{{/if}}