
<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Giỏ hàng</h1>
					<ol class="breadcrumb">
						<li><a href="/">Trang chủ</a></li>
						<li class="active">Giỏ hàng</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>



<div class="page-wrapper">
  <div class="cart shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <div class="product-list">
              <form method="post">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="">Tên sản phẩm</th>
											<th class="">Số lượng</th>
                      <th class="">Giá</th>
                      <th class=""></th>
                    </tr>
                  </thead>
                  <tbody>
										{{#if items}}
										{{#each items}}
                    <tr class="">
                      <td class="">
                        <div class="product-info">
                          <img width="80" src="{{this.img}}" alt="" />
                          <a href="/product/{{this.id}}">{{this.name}}</a>
                        </div>
                      </td>
											<td class="">
												<span>
												<button type="button" class="btn btn-dark" onclick="subItem('{{this.id}}')">-</button>
												<span id="{{this.id}}-quantity">{{this.quantity}}</span>
												<button type="button" class="btn btn-dark" onclick="addItem('{{this.id}}')">+</button>
												</span>
											</td>
                      <td class="" id="{{this.id}}-price">{{this.total}} đồng</td>
                      <td class="">
                        <a class="product-remove" href="#" onclick="deleteItem('{{this.id}}')">Xóa</a>
                      </td>
                    </tr>
										{{/each}}
										{{/if}}
                  </tbody>
                </table>
                <a href="/checkout/payment" class="btn btn-main pull-right">Mua</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
