<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Thanh toán</h1>
                    <ol class="breadcrumb">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="active">Thanh toán</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page-wrapper">
    <div class="checkout shopping">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="block billing-details">
                        <h4 class="widget-title">Chi tiết đơn hàng</h4>
                        <form class="checkout-form">
                            <div class="form-group">
                                <label for="name">Họ và tên</label>
                                <input type="text" class="form-control" id="name" placeholder="" value="{{name}}">
                            </div>
                            <div class="form-group">
                                <label for="address">Địa chỉ</label>
                                <input type="text" class="form-control" id="address" placeholder="" value="{{address}}">
                            </div>
                            <div class="form-group">
                                <label for="phone">Số điện thoại</label>
                                <input type="tel" class="form-control" id="phone" placeholder="" value="{{phone}}">
                            </div>
                        </form>
                    </div>
                    <div class="block">
                        <h4 class="widget-title">Phương thức thanh toán</h4>
                        <p>Thanh toán bằng thẻ tín dụng</p>
                        <div class="checkout-product-details">
                            <div class="payment">
                                <div class="card-details">
                                    <form class="checkout-form" method="POST">
                                        <div class="form-group">
                                            <label for="card-number">Số thẻ <span class="required">*</span></label>
                                            <input id="card-number" class="form-control" type="text"
                                                placeholder="•••• •••• •••• ••••">
                                        </div>
                                        <div class="form-group half-width padding-right">
                                            <label for="card-expiry">Hết hạn (MM/YY) <span
                                                    class="required">*</span></label>
                                            <input id="card-expiry" class="form-control" type="text"
                                                placeholder="MM / YY">
                                        </div>
                                        <div class="form-group half-width padding-left">
                                            <label for="card-cvc">Mã thẻ <span class="required">*</span></label>
                                            <input id="card-cvc" class="form-control" type="text" maxlength="4"
                                                placeholder="CVC">
                                        </div>
                                        <!-- <a href="#" class="btn btn-main mt-20">Xác nhận đặt hàng</a> -->
                                        <button type="submit" class="btn btn-main text-center">Xác nhận đặt
                                            hàng</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-checkout-details">
                        <div class="block">
                            <h4 class="widget-title">Thông tin đơn hàng</h4>
                            {{#if itemsInMyCart}}
                            {{#each itemsInMyCart}}
                            <div class="media product-card">
                                <a class="pull-left" href="/product/{{this.id}}">
                                    <img class="media-object" src="{{this.img}}" alt="Image" />
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="/product/{{this.id}}">{{this.name}}</a>
                                    </h4>
                                    <p class="price">{{this.quantity}} x {{this.price}} đồng</p>
                                    {{!-- <span class="remove" onclick="deleteItem('{{this.id}}')">Xóa</span> --}}
                                </div>
                            </div>
                            {{/each}}
                            {{/if}}
                            <div class="discount-code">
                                <a class="btn btn-main" data-toggle="modal" data-target="#coupon-modal" href=""> Nhập mã
                                    giảm giá</a>
                            </div>
                            <ul class="summary-prices">
                                <li>
                                    <span>Tổng cộng:</span>
                                    <span class="price">{{totalPrice}} đồng</span>
                                </li>
                                <li>
                                    <span>Phí giao hàng:</span>
                                    <span>Miễn phí</span>
                                </li>
                            </ul>
                            <div class="summary-total">
                                <span>Thành tiền</span>
                                <span>{{totalPrice}} đồng</span>
                            </div>

                            <div class="verified-icon">
                                <img src="/static/images/verified.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter Coupon Code">
                    </div>
                    <button type="submit" class="btn btn-main">Apply Coupon</button>
                </form>
            </div>
        </div>
    </div>
</div>